[submodule "home/st/.config/st/st"]
	path = home/st/.config/st/st
	url = https://git.suckless.org/st
[submodule "tools/snapshot"]
	path = tools/snapshot
	url = https://github.com/kaumanns/snapshot.git
[submodule "home/zsh/dot-zfunctions/pure"]
	path = home/zsh/dot-zfunctions/pure
	url = git@github.com:kaumanns/pure.git
