home/vdirsyncer/.vdirsyncer/status
home/mutt/dot-mutt/log
home/tmux/dot-tmux/resurrect

home/ranger/.config/ranger/history
home/ranger/.config/ranger/tagged

home/fonts/dot-fonts/.uuid
home/fonts/dot-fonts/Monaco_Linux.ttf

home/firefox/.mozilla/firefox

home/khal/.config/khal/khal.db

# TODO: somehow deal with pure's master->main branch name change in `make update` flow.
# home/zsh/dot-zfunctions/pure

home/gnupg/.gnupg/.*
home/gnupg/.gnupg/crls.d/
home/gnupg/.gnupg/openpgp-revocs.d/
home/gnupg/.gnupg/private-keys-v1.d/
home/gnupg/.gnupg/pubring.kbx
home/gnupg/.gnupg/random_seed
home/gnupg/.gnupg/tofu.db
home/gnupg/.gnupg/trustdb.gpg
home/gnupg/.gnupg/trustlist.txt

### Linux ###
*~

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
