snippet code
\`\`\`
$0
\`\`\`
endsnippet


snippet hallo
Hallo $1,

$2

--
David
endsnippet


snippet sig
Dr. David Kaumanns

david.kaumanns@unibw.de
INF 7 Institut für Datensicherheit
[2]https://inhouse.unibw.de/profiles/i71bdaka
+49 89 6004 7342
endsnippet
